.nav {
    font-size: 20px; /* Уменьшим размер шрифта для лучшей читаемости */
    background-color: #1877F2; /* Используем сине-белую цветовую палитру, напоминающую ВКонтакте */
    padding: 10px; /* Уменьшим отступы для более компактного вида */
    border-radius: 10px; /* Добавим небольшой скругленный угол */
}

.item {
    margin-bottom: 10px; /* Добавим небольшой отступ между элементами навигации */
}

.item a {
    color: white;
    text-decoration: none;
    display: block; /* Сделаем ссылки блочными элементами для более простой навигации */
    padding: 5px 10px; /* Добавим внутренние отступы для увеличения области нажатия */
    border-radius: 5px; /* Добавим скругленные углы для кнопок */
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

.item a.activeLink {
    background-color: #FFD700; /* Золотистый фон для активной ссылки */
    color: #1877F2; /* Цвет текста при активной ссылке */
}
