/* Dialogs.module.css */
.dialogs {
    display: flex;
}

.dialogsItems {
    margin-right: 100px;
    padding: 10px;
}

.dialog {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dialog:hover {
    background-color: #f0f0f0;
}

.dialogLink {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}
